/* Reset default styles and apply font-family globally */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body styles */
body {
    height: 100vh;
    background-color: #f7f9fb;
    display: flex;
    flex-direction: column;
}

/* Header and Footer styles */
header,
footer {
    display: flex;
    align-items: center;
    padding: 20px;
}

header {
    font-weight: 700;
    font-size: 24px;
    justify-content: space-between;
}

footer {
    justify-content: center;
}

/* Button styles */
button {
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    background-color: #31708e;
    font-weight: 700;
    font-size: 16px;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

/* Title styles */
.title {
    font-weight: 700;
    font-size: 24px;
}

/* Frame styles */
.frame {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px;
}

/* Content styles */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* Buttons container styles */
.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Grid styles */
.grid {
    width: 500px;
    height: 500px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
